---
interface Props {
    method: string;
    path: string;
    description: string;
    apiArguments?: {
        required?: ArgumentEntity[];
        optional?: ArgumentEntity[];
    };
}

const { method, path, description, apiArguments } = Astro.props as Props;

import EndpointBadge from "@components/EndpointBadge.astro";
import Accordion from "@components/Accordion";
import ArgumentsContent from "@components/ArgumentsContent";

import { Code } from "@astrojs/starlight/components";
import { ArgumentEntity } from "src/domain/entities/ArgumentEntity";
---

<EndpointBadge method={method} path={path} />

<p>{description}</p>

<Accordion title="Request" seedColor="#0000ff15" client:visible>
    <slot name="request-section">
        <!-- Slot nombrado -->
        <p>No request example provided.</p>
        <!-- Contenido por defecto -->
    </slot>
</Accordion>

<Accordion title="Headers" initState={false} client:visible>
    <slot name="headers-section">
        <!-- Slot nombrado -->
        <p>No request example provided.</p>
        <!-- Contenido por defecto -->
    </slot>
</Accordion>

{
    apiArguments &&
        (apiArguments.required?.length > 0 ||
            apiArguments.optional?.length > 0) && (
            <Accordion
                title="Arguments"
                initState={false}
                client:visible
            >
                <ArgumentsContent
                    requiredArgs={apiArguments.required}
                    optionalArgs={apiArguments.optional}
                />
            </Accordion>
        )
}

<Accordion title="Responses" initState={false} client:visible>
    <slot name="responses-section">
        <!-- Slot nombrado -->
        <p>No request example provided.</p>
        <!-- Contenido por defecto -->
    </slot>
</Accordion>
{Astro.slots['errors-section'] && (
    <Accordion title="Errors" seedColor="#ff000030" initState={false} client:visible>
        <slot name="errors-section">
            <!-- Slot nombrado -->
            <p>No request example provided.</p>
            <!-- Contenido por defecto -->
        </slot>
    </Accordion>
)}

{Astro.slots['warnings-section'] && (
    <Accordion title="Warnings" seedColor="#e0870270" initState={false} client:visible>
        <slot name="warnings-section">
            <!-- Contenido por defecto si el slot está vacío -->
            <p>No warnings provided.</p>
        </slot>
    </Accordion>
)}